@font-face {
    font-family: otf;
    src: url("./LumilanceFreeTrial-ALDGg.otf");
}

@font-face {
    font-family: ttf;
    src: url("./LumilanceFreeTrial-qZnoq.ttf");
}

#l1 {
    animation: drop 5000ms infinite alternate;
    position: absolute;
}

@keyframes drop {
    0% {
        top: -150px;
    }

    10% {
        top: -150px;
    }

    15% {
        rotate: -30deg;
    }

    25% {
        rotate: 0deg;
        transform: skew(0deg);

        top: 0;
    }

    /* 50% {
        transform: skew(-5deg);
    } */

    60% {
        transform: skew(5deg);
    }

    75% {
        transform: skew(5deg);
        top: 0;
    }

    90% {
        top: 150px;
    }

    100% {
        top: 150px;
    }
}

#parent {
    font-family: otf;
    display: flex;
    align-items: center;
    height: 200px;
}

#container {
    overflow: hidden;
    margin: auto;
    margin-top: 20vh;
    width: min-content;
    font-size: 100px;
}
